<span ng-if="$ctrl.selected.list">
    {{ctrl.selected.list}}
    {{list}}
    <a>{{list}}</a>
    <table>
        <tr><th></th><td><div class="close-x" ng-click="$ctrl.close()">x</div></td></tr>
        <tr>
            <div>
                <th>
                    <button ng-click="$ctrl.addTask(task)">Add Task</button>
                    <input placeholder="add new task" ng-model="task">
                </th>
            </div>
        </tr>
        <tr>

            <div>
               <td ng-repeat="task in $ctrl.selected.list.tasks">
                   <img class="icon" ng-src="{{task.icon}}" ng-click="$ctrl.markComplete(task)" >
                   <h2>{{task.name}}</h2>
                   <button ng-click="$ctrl.deleteTask($index)">Delete Task</button>
               </td>
            </div>
        </tr>
    </table>
    <button ng-click="$ctrl.deleteCompleted()">Delete All Completed Tasks</button>
</span>

